* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
  background: black;
 display: flex;
 justify-content: center;
 height: 100vh;
 align-items: center;
 flex-direction: column;
}
h1{
  color: transparent;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  background: linear-gradient(to left,rgba(255, 255, 0, 0.429),rgba(165, 42, 42, 0.58));
  -webkit-background-clip: text;
}
.container{
  color: white;
  font-size: 5rem;
  color: transparent;
  
  background: linear-gradient(to right,green,blue);
  -webkit-background-clip: text;
  padding: 50px;
  border-radius: 20px;
  /* box-shadow: 5px 10px 18px #888888; */
  box-shadow: 5px 10px 18px rgba(255, 0, 0, 0.126),-5px -10px 18px rgba(255, 0, 0, 0.126);
  
}
.btn{
  margin-top: 60px;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  background: linear-gradient(to right,red,blue);
  color: white;
  /* -webkit-background-clip: text; */
  font-size: 20px;
}
.container.active{
  box-shadow: 5px 10px 18px red,-5px -10px 18px red;
}
@media (max-width:508px){
     .container{
      padding: 40px;
      font-size: 3rem;
     }
}
